.dark-wrapper {
  background-color: #272932;
  margin-top: 30px;
}

.experience-container {
  color: white;
  background-color: #272932;
  padding: 50px;
}

.image-job {
  height: 70px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hidden {
  opacity: 0;
}
