<div id="education-content" class = "hidden">
  <span><%= image_tag "lewagon_logo.png", class: "image-job" %></span>
  <span><%= image_tag "oscapes_logo.png", class: "image-job" %></span>
  <div class="text-job">
    <span>Full Stack Web Development Student ~ Jan 2018 -  Mar 2018</span>
    <ul>
      <li>
        9-week intensive full-stack development training in building web apps, learning coding best practice and development mindset
      </li>
      <li>
        Built Oscapes (in team of 3) to help people find and plan their hiking trips in the UK. Demoed MVP at Google Campus London (www.oscapes.tech) (https://www.lewagon.com/demoday/123/oscapes)
      </li>
      <li>
        Built CoachMySwim, a marketplace web app linking coaches and swimmers to improve swimming technique. Led team of three from idea conception, design to creation of the MVP
      </li>
      <li>
        Experience working in a team in an entrepreneurial setting: from product and UI/UX design, designing schema and relational databases through to coding the app, production and launch
      </li>
    </ul>
  </div>

  <span><%= image_tag "stanford_logo.png", class: "image-job" %></span>
  <div class="text-job">
    <span>B.S. Earth Systems - Enery, Science and Technology ~ Class of 2013 </span>
    <ul>
      <li>
        Renewable energy, environmental science, economics, environmental engineering and design
      </li>
      <li>
        Quantitative and Qualitative analysis for solving complex problems
      </li>
      <li>
        Something about ES here or in the Stanford years section?
      </li>
      <li>
        maybe dig up some photos of projects here?
      </li>
    </ul>
  </div>
</div>
