<div id="work-content" >
  <div class="row">
    <div class="col-md-12">
      <div class="text-job">
          <%= image_tag "lewagon_logo.png", class: "image-job" %>
        <span>Teaching Assistant ~ Apr 2018 - Present</span>
        <ul>
          <li>
            Teaching students Full-Stack Web Development on subjects such as Ruby, Ruby on Rails, HTML, CSS and helping them to solve problems in their coding challenges
          </li>
          <li>
            Specifically helping during the Ruby on Rails week on the Rails framework way, advanced routing, MVC, frontend and hosting and image upload. Also in the project week when students build their own MVPs to demo at Google Campus London
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="text-job">
        <span><%= image_tag "gaw_capital_logo.png", class: "image-job" %></span>
        <span>Private Equity Analyst Intern ~ Sep 2017 -  Dec 2017</span>
        <ul>
          <li>
            Modeled real estate investments and cash flows for insights on performance and strategy
          </li>
          <li>
            Researched, analysed, created decks; analysed market opportunities, revenue potentials, trends; put together investment reports and prospects; sourced and qualified deals
          </li>
          <li>
            Supported and influenced at levels from Associate to Director and Managing Principal
          </li>
          <li>
            Directed my own innovation research to tackle Gaw Capital’s CRM and data business needs
          </li>
        </ul>

        <span>Capital Markets Research Intern ~ June 2017 </span>
        <ul>
          <li>
            Researched impact of Internet of Things on commercial real estate over next five to ten years
          </li>
          <li>
            Strategic analysis, preparing and presenting Gaw Capital’s strategy for Internet of Things disruption
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



