<div id="swim-content" class="hidden">
  <%= image_tag "lewagon_logo.png", class: "image-job" %>
  <div class="text-job">
    <span>Professional Swimmer ~ Aug 2013 - July 2017</span>
    <ul>
      <li>
        Teaching students Full-Stack Web Development on subjects such as Ruby, Ruby on Rails, HTML, CSS and helping them to solve problems in their coding challenges
      </li>
      <li>
        Specifically helping during the Ruby on Rails week on the Rails framework way, advanced routing, MVC, frontend and hosting and image upload. Also in the project week when students build their own MVPs to demo at Google Campus London
      </li>
    </ul>
  </div>
</div>
