<div class="banner">
  <div class="banner-content">
    <h1>Geoffrey Cheah</h1>
    <h3>Full Stack Developer</h3>
    <h3>Olympian</h3>

    <div class="nav-links-flex-container">
      <a href="#about"><h4 class="banner-nav-link">About</h4></a>
      <a href="#experience"><h4 class="banner-nav-link">Experience</h4></a>
      <a href="#"><h4 class="banner-nav-link">News Feed</h4></a>
    </div>
  </div>
</div>

<div class="container">
  <a name="about"></a>
  <h1 class="section-header">My Story</h1>
   <div class="row">
      <h4 class="about-header">Growing up in Hong Kong</h4>
      <div class="col-md-6">
        <div class="image-container">
          <img class="card-image" src="https://images.unsplash.com/photo-1507941097613-9f2157b69235?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=72483d9b40b1ce1ed502440b000f6759&auto=format&fit=crop&w=1626&q=80" alt="">
        </div>
      </div>
      <div class="col-md-6">
         <div class="card-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
      </div>
    </div>

     <div class="row">
      <h4 class="about-header">University years: Stanford</h4>
      <div class="col-md-6">
         <div class="card-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
      </div>
       <div class="col-md-6">
        <div class="image-container">
               <img class="card-image" src="https://images.unsplash.com/photo-1508302882073-8af6be4c6688?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad5b74e7b4a168bdee69ff1d90b95c2f&auto=format&fit=crop&w=1502&q=80" alt="">
        </div>
      </div>
    </div>

     <div class="row">
      <h4 class="about-header">Professional Swimming and the Olympics</h4>
      <div class="col-md-6">
        <div class="image-container">
               <img class="card-image" src="https://at-hk.s3.amazonaws.com/i/20160819153716-GCheahpic_resized_750x500.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
         <div class="card-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
      </div>
    </div>


  <div class="row">
      <h4 class="about-header">Moving to Tech: Full Stack Developer</h4>
      <div class="col-md-6">
         <div class="card-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
      </div>
      <div class="col-md-6">
        <div class="image-container">
               <img class="card-image" src="https://images.unsplash.com/photo-1507941097613-9f2157b69235?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=72483d9b40b1ce1ed502440b000f6759&auto=format&fit=crop&w=1626&q=80" alt="">
        </div>
      </div>
    </div>
</div>

<div class="experience-container">
  <a name="experience"></a>
  <h1 class="section-header">Experience</h1>
</div>





