
<div class="banner">
  <div class="banner-content">
    <h1>Geoffrey Cheah</h1>
    <h3>Full Stack Developer</h3>
    <h3>Olympian</h3>

  <div class="nav-links-flex-container">
    <h4 class="banner-nav-link">About</h4>
    <h4 class="banner-nav-link">Experience</h4>
    <h4 class="banner-nav-link">News Feed</h4>
  </div>
  </div>
</div>





